TELEGRAM_BOT_TOKEN=your_bot_token_here
ADMIN_CHAT_ID=your_telegram_chat_id_here

SMILEONE_EMAIL=your_smileone_email
SMILEONE_API_KEY=your_smileone_api_key

KPAY_ACCOUNT=09xxxxxxxxx
KPAY_NAME=Your Name
WAVEPAY_ACCOUNT=09xxxxxxxxx
WAVEPAY_NAME=Your Name
